{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="d-flex justify-content-center w-100 p-3">
        <form method="post">
            <div class="form-group">
                <label for="email">Recover account</label>
                <input type="email" class="form-control" id="email"
                       placeholder="Enter email" name="email">
            </div>
            <button type="submit" class="btn btn-primary">Recover</button>
        </form>
    </div>
</div>
{% endblock %}