{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-6 py-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">(Top) Categories</h5>
                    {% for c in categories %}
                    <a href="{{ url_for('category', name=c.name) }}">{{c.name}}</a><span style="color: gray; font-weight: lighter"> 15</span>
                    <br/>
					{% endfor %}
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 py-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">New Items</h5>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet autem deserunt dolor, enim quibusdam
                    quisquam quo repudiandae sed! Aliquam aspernatur autem commodi deleniti ducimus eaque hic, illum
                    labore necessitatibus quae quia sunt vero. Debitis, dolorem.
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 py-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Recent</h5>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam consequuntur dicta fugiat iusto
                    laboriosam, magni nesciunt sequi tempore vero! A architecto beatae est impedit iure, odio quam sed
                    totam velit vero? Accusamus blanditiis delectus deleniti eaque, earum, fugit incidunt laboriosam nam
                    rem soluta totam ut veritatis vero voluptatem voluptatum. Ut.
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}