{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6 pb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Categories</h5>
                    {% for c in categories %}
                    <a href="{{ url_for('category', name=c.name) }}">{{c.name}}</a>
                    <br/>
					{% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-8 col-lg-6 pb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">New Items</h5>
                    {% for i in items %}
                    <a href="{{ url_for('item', category=i.category, item=i.item) }}">{{i.item}}</a>
                    <br/>
					{% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}